[submodule "external/assimp/assimp"]
	path = external/assimp/assimp
	url = git@github.com:assimp/assimp
[submodule "external/gtest/googletest"]
	path = external/gtest/googletest
	url = git@github.com:google/googletest.git
